<div class="mx-auto font-weight-bold" style="width: 200px; padding-top: 25px;">
  <h1 class="fw-light text-center">All Entries</h1>
</div>

<table class="table table-bordered table-striped table-hover mt-4">
  <thead class="bg-light-blue text-white">
    <tr>
      <th scope="col" class="fs-5 px-4 py-2">No.</th>
      <th scope="col" class="fs-5 px-4 py-2">Name</th>
      <th scope="col" class="fs-5 px-4 py-2">Link</th>
      <th scope="col" class="fs-5 px-4 py-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each_with_index do |entry, index| %>
      <tr class="table-row bg-light">
        <td class="px-4 py-2">
          <%=index+1%>
        </td>
        <td class="px-4 py-2">
          <%=entry.name%>
        </td>
        <td class="px-4 py-2">
          <%=entry.link%>
        </td>
        <td class="px-4 py-2">
          <div class="d-flex align-items-center">
            <%= button_to "Edit", edit_entry_path(entry), method: :get, class: "btn btn-primary btn-sm me-2 rounded-pill" %>
            <%= button_to "Delete", entry, method: :delete, class: "btn btn-danger btn-sm rounded-pill" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
