<div class="mx-auto font-weight-bold" style="width: 200px; padding-top: 25px;" >
  <h1>New Entry</h1>
</div>

<%= form_with(model: @entry) do |form| %>

<div class="mx-auto font-weight-bold" style="width: 200px; padding-top: 25px;" >
   <%= form.label :name %>
   <%= form.text_field :name %>
 </div>

<div class="mx-auto font-weight-bold" style="width: 200px; padding-top: 25px;" >
    <%= form.label :link %>
    <%= form.text_field :link %>
 </div>

<div class="mx-auto" style="width: 200px; padding-top: 25px;" >
   <%= form.submit%>
 </div>

<% end %>

<br>

<div>
 <%= link_to "Back to home", root_path, class: "btn btn-primary" %>
</div>