<div class="mx-auto font-weight-bold" style="width: 200px; padding-top: 25px;" >
  <h1>New Entry</h1>
</div>

<%= form_with(model: @entry) do |form| %>

<div class="mb-3 row mx-auto">
    <label class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-5">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3 row mx-auto">
    <label class="col-sm-2 col-form-label">Link</label>
    <div class="col-sm-5">
      <%= form.text_field :link, class: "form-control" %>
    </div>
  </div>

<div class="mx-auto" style="width: 200px; padding-top: 25px;" >
   <%= form.submit%>
 </div>

  <% end %>

<br>

<div>
 <%= link_to "Back to home", root_path, class: "btn btn-primary" %>
</div>